<div class="clown-main">
  <div class="clown-main-actions fixed">
    <div class="input-group col-4">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
        <input #searchMachinesBox class="form-control" type="text" placeholder="What are you looking for?" (input)="searchMachines(searchMachinesBox.value)">
        <button type="button" class="btn btn-warning" ngbTooltip="You have {{dueMachinesCount}} machines due" *ngIf="dueMachinesCount == 0">
          <span><i class="fas fa-bell-slash"></i></span>
        </button>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-warning" id="dueMachinesNotify" ngbDropdownToggle ngbTooltip="You have {{dueMachinesCount}} machines due" *ngIf="dueMachinesCount != 0">
            <span><i class="fas fa-bell"></i></span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dueMachinesNotify">
              <div class="btn-group btn-group-toggle" ngbDropdownItem>
                <label class="btn-outline-primary" ngbButtonLabel>
                  <input type="checkbox" ngbButton (click)="onShowDueMachines('almostDue')"> Show almost due
                </label>
                <label class="btn-outline-primary" ngbButtonLabel>
                  <input type="checkbox" ngbButton (click)="onShowDueMachines('due')"> Show due
                </label>
                <label class="btn-outline-primary" ngbButtonLabel>
                  <input type="checkbox" ngbButton (click)="onShowDueMachines('overDue')"> Show overdue
                </label>
              </div>
          </div>
        </div>
        <button type="button" class="btn btn-info" ngbTooltip="Show history" (click)="showHistory()" [disabled]="!selectedMachine">
          <span class="badge badge-pill badge-light">{{selectedMachineHistoryCount}}</span>
        </button> 
        <button type="button" class="btn btn-success" ngbTooltip="+ New machine" (click)="insertMachineModal()"><i class="fas fa-plus"></i></button>
    </div>
  </div>
  <ag-grid-angular #agGrid 
    class="ag-theme-balham"
    (gridReady)="onGridReady($event)"
    (rowDoubleClicked)="onRowDoubleClicked($event)"
    (rowClicked)="onRowClicked($event)"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [pagination]="true"
    [suppressNoRowsOverlay]="true"
    [suppressLoadingOverlay]="true"
    [paginationPageSize]="paginationPageSize"
    [cacheBlockSize]="cacheBlockSize"
    [animateRows]="true"
    [rowSelection]="'multiple'"
    [rowModelType]="'infinite'"
    [domLayout]="'autoHeight'"
    >
  </ag-grid-angular>
</div>

<ng-template #machineModal let-modal>
  <form #machineForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="modal-body">
      <input type="text" style="display:none" />
      <div class="form-group">
        <label for="serialNumber">Serial No.</label>
        <input #serialNumber="ngModel" type="text" class="form-control" id="serialNumber" name="serialNumber" [(ngModel)]="currentMachine.serialNumber" [disabled]="!isInsert" required>
        <small [hidden]="serialNumber.valid || serialNumber.pristine" style="color: red">Please provide a serial number.</small>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="customer">Customer</label>
          <input type="text" class="form-control" id="customer" name="customer" [(ngModel)]="currentMachine.customer">
        </div>
        <div class="form-group col-md-4">
          <label for="state">State</label>
          <input type="text" class="form-control" id="state" name="state" [(ngModel)]="currentMachine.state">
        </div>
        <div class="form-group col-md-4">
          <label for="district">District</label>
          <input type="text" class="form-control" id="district" name="district" [(ngModel)]="currentMachine.district">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="type">Type</label>
          <input type="text" class="form-control" id="type" name="accountType" [(ngModel)]="currentMachine.accountType">
        </div>
        <div class="form-group col-md-4">
          <label for="model">Model</label>
          <input type="text" class="form-control" id="model" name="model" [(ngModel)]="currentMachine.model">
        </div>
        <div class="form-group col-md-4">
          <label for="brand">Brand</label>
          <input type="text" class="form-control" id="brand" name="brand" [(ngModel)]="currentMachine.brand">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="status">Status</label>
          <input type="text" class="form-control" id="status" name="status" [(ngModel)]="currentMachine.status">
        </div>
        <div class="form-group col-md-4">
          <label for="tncDate">TNC Date</label>
          <div class="input-group">
            <input class="form-control" placeholder="dd/mm/yyyy" name="tncDate" [(ngModel)]="currentMachine.tncDate" ngbDatepicker #tncDate="ngbDatepicker">
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary" (click)="tncDate.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
            </div>
          </div>  
        </div>
        <div class="form-group col-md-4">
          <label for="ppmDate">PPM Date</label>
          <div class="input-group">
            <input class="form-control" placeholder="dd/mm/yyyy" name="ppmDate" [(ngModel)]="currentMachine.ppmDate" ngbDatepicker #ppmDate="ngbDatepicker">
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary" (click)="ppmDate.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="reportedBy">Reported By</label>
          <input type="text" class="form-control" id="reportedBy" name="reportedBy" [(ngModel)]="currentMachine.reportedBy">
        </div>
        <div class="form-group col-md-4">
          <label for="assignee">Assignee</label>
          <input type="text" class="form-control" id="assignee" name="personInCharge" [(ngModel)]="currentMachine.personInCharge">
        </div>
      </div>
      <div class="form-group">
        <label for="additionalNotes">Additional Notes</label>
        <textarea class="form-control" id="additionalNotes" name="additionalNotes" rows="4" [(ngModel)]="currentMachine.additionalNotes"></textarea>
      </div>
      <div class="form-group">
        <input hidden type="file" #uploader (change)="uploadFile($event)"/>
        <button type="button" class="btn btn-outline-secondary mr-1" *ngIf="!currentMachine.attachment_name" (click)="uploader.click()" placement="bottom" ngbTooltip="Upload file">
          <i class="fas fa-file-upload"></i> {{attachment.filename || "Upload a file..."}}
        </button>
        <div ngbDropdown class="d-inline-block" *ngIf="!isInsert && currentMachine.attachment_name">
          <button type="button" class="btn btn-outline-secondary mr-1" id="fileDropdown" ngbDropdownToggle>
            {{currentMachine.attachment_name}}
          </button>
          <div ngbDropdownMenu aria-labelledby="fileDropdown">
            <button type="button" (click)="downloadFile()" ngbDropdownItem><i class="fas fa-file-download"></i> Download</button>
            <button type="button" (click)="removeFile()" ngbDropdownItem><i class="fas fa-times"></i> Remove</button>
            <button type="button" (click)="uploader.click()" ngbDropdownItem><i class="fas fa-file-upload"></i> Replace</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="mr-auto" *ngIf="!isInsert">
        <div class="row" class="ml-auto">
          <small>Created on: {{currentMachine.dateOfCreation}}</small>
        </div>
        <div class="row" class="ml-auto">
          <small style="color: blue">Updated on: {{currentMachine.lastUpdated}}</small>
        </div>    
      </div>
      <small *ngIf="hasError" style="color: red">Oops! Something went wrong. Please refresh this page and try again.</small>
      <button type="button" class="btn btn-danger" *ngIf="!isInsert" (click)="onDelete()" [disabled]="isDeleting || isSaving">
        <span *ngIf="!isDeleting"><i class="fas fa-trash-alt"></i> Delete</span>
        <span *ngIf="isDeleting"><span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Deleting...</span>
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="!machineForm.form.valid || isSaving || isDeleting">
        <span *ngIf="!isSaving"><i class="fas fa-save"></i> Save</span>
        <span *ngIf="isSaving"><span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Saving...</span>
      </button>
    </div>
  </form>
</ng-template>